@tailwind base;
@tailwind components;
@tailwind utilities;

/* no horizontal scroll bar unless added by a class directly */
#root {
  overflow-x: hidden;
  @apply text-white;
}

.about {
  @apply max-sm:text-left text-justify mb-4
}

.about-container {
  @apply  max-sm:w-80 w-96 flex flex-col flex-nowrap text-base font-medium drop-shadow-[2px_2px_1.25px_rgba(0,0,0,1)] m-4 rounded-md
}

.contact-container {
  @apply flex flex-col flex-wrap justify-center items-center
  font-interTight text-2xl max-sm:text-lg text-white text-center drop-shadow-[2px_1.5px_1.5px_rgba(0,0,0,1.0)];
}

.bg-low-opacity{
   @apply bg-sky-900/20 rounded-md;
}


h2 {
  @apply max-sm:text-3xl text-5xl font-bold;
}



h3 {
  @apply max-sm:text-xl text-2xl font-bold;
}

.bg-image {
  background-size: cover;
  background-position: center;
  display: block;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  max-width:100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  @apply min-w-80 relative text-center font-black
}
.logo h1 {
  @apply w-full text-white font-interTight text-3xl sm:text-4xl md:text-5xl lg:text-7xl ;

}

.logo h2 {
  @apply w-full text-yellow-300 font-playWrite text-xl md:text-2xl lg:text-4xl absolute left-1/4 transform -translate-y-6 drop-shadow-[0px_5px_8px_rgba(150,150,0,1.0)];
}

.h1-logo {
  @apply w-full text-white font-interTight text-xl sm:text-3xl drop-shadow-[0px_3px_6px_rgba(150,150,0,1.0)];

 }

 .h2-logo {
  @apply w-full text-yellow-300 font-playWrite text-base sm:text-base absolute left-12 transform -translate-y-4 drop-shadow-[0_1.0px_2px_rgba(0,0,0,1.0)];

  }


/*
  <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 100 to 400
*/
.playwrite-no-logo {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}