@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow-x: hidden
}

.bg-image {
  background-image: url('/assets/backgrounds/beach5.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}